body {
    background-color: black;
}

main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 1fr;
    /* padding: 0 80px; */
}

#local-botao{
    display: flex;
    justify-content: center;
    align-items: end;
    color: white;
    flex-direction: column;
}

button {
height: 150px;
width: 600px;
font-size: 90px;
}

#paragrafo{
    
    display: flex;
    align-items: center;
    width: 20px;
    justify-content: center;
    color: white;
    font-size: 100px;
}
p#salvar1, #salvar2, #salvar3 {
    margin: 0;
}

#salvar-local{
    border: 10px white solid;
    height: 390px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
    color: white;
    font-size: 40px;
    flex-direction: column;   
}

@media(max-width: 800px){
    main{
        flex-direction: column;
    }
    button {
        width: 300px;
        height: 100px;
        font-size: 20px;
    }
    #paragrafo {
        font-size: 100px;
        height: 120px;
        padding: 0;
        margin: 0;
    }

    #salvar-local {
        border: 3px solid white;
        font-size: 50px;
        padding: 0;
        width: 300px;
        height: 200px;
    }
}